
/* Form styles */
form div {
    border-radius: 10px;
    padding: 5px;
}

/* Chat form elements */
.chat-convo {
    min-height: 200px;
    max-height: 500px;
    overflow-x: hidden;
    overflow-y: scroll;
    border: 1px solid #D5D5D5;
}

.chat-input {
    width: 100%;
}

.chat-message {
    padding: 5px;
}

.chat-message-user {
    padding: 5px;
    border-radius: 10px;
    background-color: #F0F0F0;
}

.chat-message-text {
    padding: 5px;
}

/* Global page elements */
footer {
    width: 100%;
    text-align: center;
}

/* Utility classes */
.vertical-center {
    display: inline-block;
    vertical-align: middle;
    float: none;
}

.vertical-bottom {
    display: inline-block;
    vertical-align: bottom;
    float: none;
}