    <hr />
    <% var thisYear = new Date().getFullYear(); %>
    <footer>© John Sandoval <%= thisYear %></footer>

    <!--  JavaScript -->
    <script src="/js/application.min.js"></script>
    <script src="//localhost:35729/livereload.js"></script>

</body>
</html>