
<% include header %>
<% include navbar %>
 
    <!-- Start main container -->
    <div class="container">
        <!-- Main jumbotron -->
        <div class="jumbotron">
            <div class="row">
                <h1>Chat App</h1>
            </div>
        </div>

        <!-- Chat form -->
        <div class="container">
            <div id="chat-container">
                <form id="chat-form" name="chat-form">
                    <div class="row">
                        <div class="chat col-md-3">
                            <h4>Who's chatting?</h4>
                            <div class="chat-peeps"></div>
                        </div>
                        <div class="chat chat-convo col-md-9">

                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-3"></div>
                        <div class="col-md-8 vertical-bottom">
                            <label for="default-chat-input">Chat here</label>
                            <input name="default-chat-input" class="chat chat-input form-control" type="text" />
                        </div><!--
                        --><div class="col-md-1 vertical-bottom">
                            <button class="btn btn-warning chat chat-btn">Send</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>

    <!-- End main container -->
    </div>    
 
 <% include footer %>